<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kelompok3.rplinformatika.svhomeuser">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RegisterdanLogin.AwalActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RumahActivity.RumahActivity" />
        <activity android:name=".Pemesanan.PesanActivity" />
        <activity android:name=".Pemesanan.PemesananActivity" />
        <activity android:name=".Pemesanan.PesananUser" />
        <activity android:name=".Keranjang.KeranjangActivity" />
        <activity android:name=".Bantuan.BantuanActivity" />
        <activity android:name=".Office.OfficeActivity" />
        <activity android:name=".Dashboard.Dashboard" />
        <activity android:name=".RegisterdanLogin.LoginActivity" />
        <activity android:name=".RegisterdanLogin.RegistrasiActivity"></activity>
    </application>

</manifest>